<h1><%= title %></h1>

<form action="" method="POST">

  <div class="form-group">
    <label for="title">Title:</label>
    <input id="title" type="text" class="form-control" placeholder="Name of book" name="title" required="true"
    value="<%= typeof book === "undefined" ? "" : book.title %>" />
  </div>


  <div class="form-group">
    <label for="author">Author:</label>
    <select
      name="author"
      id="author"
      class="form-control"
      required="true"
      placeholder="Select author"
      type="select"
    >
      <% authors.sort((a, b) => {let textA = a.family_name.toUpperCase(); let textB = b.family_name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;}); %>
       <% authors.forEach((author) => { %> 
        <% if(typeof book !== "undefined") { %>
          <option
            value="<%= author._id %>"
            selected="<%= author._id.toString()===book.author._id.toString() ? "selected" : "false" %>"
          >
            <%= author.name %>
          </option>
      <% } else { %>
          <option value="<%= author._id %>"><%= author.name %></option>
      <% }})%>
    </select>
  </div>

  <div class="form-group">
    <label for="summary">Summary:</label>
    <textarea type="text" id="summary" class="form-control" placeholder="Book summary" name="summary" required="true">
      <%= typeof book === "undefined" ? "" : book.summary %>
    </textarea>
  </div>

  <div class="form-group">
    <label for="isbn">ISBN:</label>
    <input type="text" id="isbn" class="form-control" placeholder="ISBN13" name="isbn" value="<%= typeof book === "undefined" ? "" : book.isbn %>" required="true">
  </div>

  <div class="form-group">
    <label for="">Genre:</label>
    <div>
      <% genres.forEach((genre) => { %>
        <div style='display: inline; padding-right:10px;'>
          <input type="checkbox" class="checkbox-input" name="genre" id="<%= genre._id %>" value="<%= genre._id %>" checked="<%= genre.checked %>">
          <label for="<%= genre._id %>"><%= genre.name %></label>
        </div>
     <% }) %>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div> 

<% if (typeof errors !== "undefined" && errors.length > 0) { %>
  <ul>
    <% errors.forEach((err) => { %>
    <li><%= err.message %></li>
    <% }) %>
  </ul>
  <% } %>
</form>
